
<div class="container">
  <div class="meeting_room">
  	<table>
<% @meeting_rooms.each do |meeting_room| %>

  		<tr>
  			<td><%= meeting_room.name %></td>
  			<td><%= link_to "View", meeting_room_bookings_path(meeting_room) %></td>
  			<!--<td><%= link_to "Delete", meeting_room_path(meeting_room), data: { confirm: 'Are you sure?' }, method: :delete %></td>-->
  			<td><%= link_to "Edit", edit_meeting_room_path(meeting_room) %></td>
  			<td><%= link_to "Add booking", new_meeting_room_booking_path(meeting_room) %></td>
  		</tr>
<% end %>

  	</table>	
    
  </div>
</div>